<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="lib/bootstrap-4.3.1/css/bootstrap.min.css"  rel="stylesheet" id="bootstrap-css">
	<script type="text/javascript" src="lib/jquery-3.4.0.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<title></title>
	<style type="text/css">
	@font-face {
	  font-family: 'Karla';
	  font-style: normal;
	  font-weight: 400;
	  src: url('fonts/Karla-Regular.ttf');
	}
	body {
	  font-family: 'Karla', sans-serif !important;
	}
</style>
</head>
<body>
	<div class="container">
		<hr>
		<div class="row justify-content-center" style="margin-top: 5%;">
			<div class="col-md-6">
				<div class="card">
					<header class="card-header">
						<h4 class="card-title mt-2">INSERT</h4>
					</header>
					<article class="card-body">
						<form action="/insert" method="post">
							<div class="form-row">
								<div class="col form-group">
									<label>Name </label>   
									<input name="name" type="text" class="form-control" required>
								</div>
								<div class="col form-group">
									<label>Password</label>
									<input name="password" type="Password" class="form-control" placeholder=" " required>
								</div> <!-- form-group end.// -->
							</div> <!-- form-row end.// -->
							<div class="form-group">
								<label>Phone Number</label>
								<input name="phno" type="tel" class="form-control" placeholder="" required>
							</div> <!-- form-group end.// -->
							<div class="form-group">
								<label>Email Id</label>
								<input name="email" type="email" class="form-control" placeholder="" required>
								<small class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div> <!-- form-group end.// -->	
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block"> Submit  </button>
							</div> <!-- form-group// -->      
						</form>
					</article> <!-- card-body end .// -->
				</div>
				<div class="card">
					<header class="card-header">
						<h4 class="card-title mt-2">SEARCHed</h4>
					</header>
					<article class="card-body">
						<form action="/search" method="post">
							<div class="form-row">
								<div class="col-md-10 ">
									<input name="email_sh" type="email" class="form-control">
								</div>
								<div class="col-md-2">
									<button type="submit" class="btn btn-primary"> Search  </button>
								</div>
							</div>
							
						</form>
						<div>
							
						            <div>name:<%= print[0].user_name %></div>  
						                <div>pass:<%= print[0].password %></div>
						                <div>eid:<%= print[0].email_id %></div>
						                <div>pno:<%= print[0].phn_no %></div>
						       
							</div>
					</article>
				</div> <!-- card.// -->
			</div> <!-- col.//-->
		</div> <!-- row.//-->
	</div>
</body>
</html>